

*{
    margin: 0;
   
}
section{
    width: 100%;
    height: 300vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

section>nav{
    height: 75vh;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: fixed;
    right: 10px;
    top: 100px;
    /* color: aliceblue; */
   
}

section>nav .bi{
    font-size: 40px;
}

nav>.item{
    position: relative;
}

nav>.item span{
    position: absolute;
    top: 13px;
    opacity: 0;
    z-index: -1;
}

section>nav .item:hover span{
    animation: drag 400ms ease forwards;
}

@keyframes drag{
    from{
        transform: translate(0px);
    }
    to{
        transform: translate(-50px);
        opacity: 1;
    }
}

.logo{
    font-size: 5rem;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 50px ;
    /* color: linen; */
    font-family: url(BADABB__.TTF);
    letter-spacing: 5px;
}



/* 
.home {
    display: flex;
     align-items: center;
    justify-content: center; 
    height: 100vh;
    width: 100%
}

.profile-img {
    width: 250px;
    height: 300px;
    position: absolute;
    top: 30vh;
    left:50px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 0 25px rgba(255,255,255,0.6);
    object-fit: cover;
} */

.home-banner{
    height: 100vh;
    width: 100% ;
    background: linear-gradient(40deg, azure, grey);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    left: 30px;
}
.home-banner>.right{
    h3{
        font-size: 2rem;
    }

    h1{
        font-size: 4rem;
        
    }
    p{
        font-size: 1.5rem;
    }
}



